//Fin CSS Footer
footer {
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 15px;
    text-align: center;
}

footer section p {
    opacity: 75%;
}

footer div {
    display: inline;
    padding: 2px;
}

//Fin CSS Footer