/* Fin CSS Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    font-size: 20px;
    gap: 10px;
    color: rgb(255, 242, 225);
}

.nav-container {
    margin: 8px;
    padding: 0;
}

.nav-link {
    color: rgb(255, 242, 225);
    padding: 3px;
    border: 2px rgb(255, 242, 225) solid;
    border-radius: 7px;
    text-align: center;
}

.nav-link:hover {
    background-color: rgb(255, 242, 225);
    color: #000000;
    border-radius: 7px;
}

.nav-logo {
    object-fit: cover;
    width: 85px;
    height: 55px;
    transition: 0.5s;
}

.nav-logo:hover {
    width: 75px;
}

.offcanvas-header {
    background-color: $main-color;
}

.navbar-toggler-icon {
    background-color: $main-color;
    border-radius: 3px;
    transition: 0.5s;
}

.navbar-toggler-icon:hover {
    background-color: $main-color;
    border-radius: 3px;
}

/* Fin CSS Navbar */